.navbar{
  border: 1px solid black;
  display:flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
  font-style: italic;
}

#header h1{
  font-size: 3.5rem;
  width: 50%;
  margin: 0 auto;
}

.add-sneaker{
  background-color: lightblue;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}